/* Body.css */

.containerb {
    display: flex;
    justify-content: space-between; 
    align-items: start; 
    padding: 20px; /* Add some padding around the content */
  }
  
  .profileb {
    flex: 1;
    margin-right: 20px; 
    border-right: 2px solid #ccc; 
  }
  
  .newsb {
    flex: 2; 
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; 
    padding: 20px; 
    height: 100vh;
    /* margin-right: 105px; */
  }
  .containerb {
  display: flex;
}

.profileb{
  display: flex;
  flex-direction: column;
}


.news-and-bottom-boxb {
  display: flex;
  flex-direction: column;
}
.newsb{
  overflow: scroll;
}


/* 
#main{
  display: flex;
  align-items: center;
  justify-content: center;
} */

.bottom-boxb {
  background-color: #f0f0f0; /* Example background color */
  padding: 20px;
  margin-top: 20px; /* Adjust as needed */
  /* Additional styling as needed */
}
@media (max-width: 600px) {
  .profilep{
    width: 100%;
  }
  .containerb {
    flex-direction: column;
  }
  .profilep {
    border-right:none; 
  }
  
  /* .profile {
    display: none;
  } */
}
