.news {
  max-height: 90vh; /* or any value that suits your layout */
  overflow-y: auto;
  scrollbar-width: none; /* for Firefox */
  -ms-overflow-style: none; 
}

.news::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.clubdataClubsAll{
  width: 80%;
  background-color: red;
}

.sectionClubsAll {
padding: 20px;
background-color: #f5f5f5;
width: 90%;
}
.section-center-featured-centerClubsAll{
width: 50vw;
gap: 5px;
}
.section-centerClubsAll {
display: flex;
flex-direction: column;
align-items: center;
gap: 30px;
max-width: 1200px;
margin: 0 auto;
}

.profile-itemClubsAll {
background-color: #f5f5f5;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
width: 100%; /* Ensure full width */
display: flex;
flex-direction: column;
margin-top: 10px;
}

.profile-itemClubsAll:hover{
  scale: 1.04;
  transition-duration: 1ms;
}

.writtenPartClubsAll {
padding: 15px;
display: flex;
flex-direction: column;
gap: 10px;
}
.writtenPartClubsAll:hover{
  /* scale: 1.1; */
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.profilePicClubsAll{
left:10px ;
}

.profilePicClubsAll img {
width: 80px;
height: 80px;
border-radius: 50%;
object-fit: cover;
margin: 0 auto; 
}

.nameAndDiscriptionClubsAll {
text-align: center; 
}
.nameAndDiscriptionClubsAll {
display: flex;
flex-direction: column;
}
.profileNameClubsAll h2, .discriptionClubsAll p {
margin-top: 15px; 
}
.clubNameClubsAll{
color: bisque;
}
.postClubsAll img {
width: 100%;
height: auto; 
object-fit: cover;
border-top: 1px solid #eee;
}

