.footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: left;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .footer-section {
    margin: 10px 0;
  }
  
  .footer-section h3 {
    color: #2c112e;
    margin-bottom: 15px;
  }
  
  .footer-section p, .footer-section ul, .footer-section li {
    color: #dee2e6;
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section a {
    color: #dee2e6;
    text-decoration: none;
  }
  
  .social-links a {
    margin-right: 10px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer-bottom {
    text-align: center;
    color: #dee2e6;
  }
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
  }
  